#!/usr/bin/env bash

# Do NOT use '""'

# Application's path (absolute or relative)
APP_PATH=../

# API path (absolute or relative)
API_PATH=../

#DIR=$(CDPATH= cd -- "$(dirname -- "$0")" && pwd)
#. ${DIR}/../.env
#DIR="$( dirname "${BASH_SOURCE[0]}" )"
#OLD_PWD="${PWD}"
#DIR=$(cd `dirname $0` && pwd)
#DIR="$(dirname -- "$0")"

#DIR="$( dirname "${BASH_SOURCE[0]}" )"
#cd $OLD_PWD
#if [ $DIR == "" ] ; then
#    DIR="."
#fi
#. "${DIR}/${APP_PATH}.env"


DOCKER_APP_PATH=/var/www/project
COMPOSE_PROJECT_NAME=webserver-test

# PHP version (7.1-fpm)
COMPOSE_APACHE_PHP_VER=7.2-apache-stretch
COMPOSE_PHP_VER=7.2-fpm
COMPOSE_NGINX_VER=1.15

HOST_APP_DOMAIN=test.loc
HOST_APACHE_PORT=40480
# test.loc:40480
HOST_NGINX_PORT=40481
# test.loc:40481

# Do not work:
#HOST_NGINX_PHP_PORT=40482
# test.loc:40482
